ion-toolbar {
    --background: #094293; 
    --color: #ffffff; 
  }

  .button-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 20px;        
  }